body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

a {
  color: #00B7FF;
}

.btn-warning {
  color: #FFFFFF !important;
}

#titleville {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  padding-bottom: 20px;
}

.fa-times-circle-o {
  color: #E6A900;
  align-items: flex-end;
}
